#
# Managed by ansible
# Role: systemd-timer
#
[Unit]
Description={{ item.name }} Service

[Service]
Type=oneshot
ExecStart={{ item.timer_command }}
{% if item.timer_user is defined %}
User={{ item.timer_user }}
{% endif %}
